@import "tailwindcss";

@theme {
  --sans: "Inter", sans-serif;
  /* --sans:["Imter, sans-serif"] */
}

/* BASE CSS*/

html {
  font-family: var(--sans);
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-900 text-zinc-50;
}

h1 {
  @apply text-3xl font-bold;
}
